<launch>
  <node name="passthrough_points" pkg="jsk_topic_tools" type="passthrough">
  	<!-- remap from="~input" to="/kinect_head/depth_registered/points" / -->
 	<remap from="~input" to="/head_camera_remote/depth_registered/points" />
    <rosparam subst_value="true">
      default_duration: 3
    </rosparam>
  </node>
</launch>