<launch>
  <arg name="gui" default="true"/>

  <arg name="INPUT" default="/kinect_head/depth_registered/throttled/points" />

  
  <node name="pcd_to_pointcloud"
        pkg="pcl_ros" type="pcd_to_pointcloud"
        args="$(find jsk_2020_04_chahakobi)/test_data/sample_pcd_1587574563157844.pcd 0.1">
    <remap from="cloud_pcd" to="~output"/>
    <rosparam>
      <!-- frame_id: map -->
      frame_id: head_mount_kinect_rgb_optical_frame
    </rosparam>
  </node>
  
  <arg name="manager" value="icp_manager" />
  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager" />

  <node name="icp_registration"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ICPRegistration /$(arg manager)"
        output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~input_reference" to="pcd_to_pointcloud/output" />
  </node>
</launch>
