<launch>
  <arg name="gui" default="true" />
  <arg name="physics" default="ode" />

  <!-- load scene in gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find jsk_2020_04_pr2_curry)/worlds/pot_potato.world" />
    <arg name="physics" value="$(arg physics)" />
  </include>

</launch>
