<launch>
  <arg name="gui" default="true"/>

  <arg name="INPUT" default="/kinect_head/depth_registered/throttled/points" />

  
  <node name="pcd_to_pointcloud"
        pkg="pcl_ros" type="pcd_to_pointcloud"
        args="$(find jsk_2020_04_chahakobi)/pcd/kettle_origin.pcd 0.1">
    <remap from="cloud_pcd" to="~output"/>
    <rosparam>
      <!-- frame_id: map -->
      frame_id: head_mount_kinect_rgb_optical_frame
    </rosparam>
  </node>
  
  <arg name="manager" value="icp_manager" />
  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager" />

  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/AttentionClipper /$(arg manager)"
        output="screen">
    <remap from="~input/points" to="$(arg INPUT)" />
    <rosparam>
      use_multiple_attention: false
      dimension_x: 0.5
      dimension_y: 0.5
      dimension_z: 0.5
      initial_pos: [0.8, 0.0, 0.8]
      frame_id: base_footprint
    </rosparam>
  </node>

  <node name="extract_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices /$(arg manager)"
        output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>
 
  <node name="icp_registration"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ICPRegistration /$(arg manager)"
        output="screen">
    <remap from="~input" to="extract_indices/output" />
    <remap from="~input_reference" to="pcd_to_pointcloud/output" />
  </node>
  
  <group if="$(arg gui)">
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_04_chahakobi)/config/icp.rviz"/>
  </group>
</launch>
